.history{
    max-width: 900px;
    width: 100%;
    border: 4px solid black;
    border-radius: 26px;
    overflow: hidden;
    margin: 0 auto;
}
.history__title{
    padding: 0.5rem 0.5rem;

}
.historyList{
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}